body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #007BFF; /* Color primario, ajusta el valor según tu preferencia */
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-row {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product {
    flex-basis: calc(25% - 40px); /* Ajustar el ancho de los productos aquí */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Color de fondo del contenedor de productos, ajusta según tu preferencia */
}
.product img {
    max-width: 100%;
    height: auto;
}
.product-name {
    font-weight: bold;
    margin: 10px 0;
}
.add-to-cart {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

h1{
    background-color: black;
    color: white;
}

