<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Chayfer</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}" />

        <section class="container mt-5 mb-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="text-center mb-4">[[#{historia}]]</h1>
                    <p class="text-justify text-center">[[#{texto}]]</p>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}" />
      
    </body>
</html>
